:root {
  --main-color: #757575;
  --second-color: #212121;
  --typical-lh: 1.33;
  --main-font: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

body {
  font-family: var(--main-font);
  background-color: #ffffff;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}
/* -----------Шапка сайту --------------------------------------------------------- */
.header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.main-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  display: flex;
  margin-left: auto;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.22;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.header-logo-studio {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.22;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

.header-list {
  display: flex;
  list-style: none;
  gap: 50px;
  margin-left: 93px;
  margin-right: auto;
}
/* .header-list .header-list-item + .header-list-item {
  margin-left: 50px;
} */
/* .header-list .header-list-item:not(:last-child) {
  margin-right: 50px;
} */

.header-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: var(--second-color);
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link.current {
  position: relative;
  color: #2196f3;
}
.current::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  margin: -1px;
}
.address-nav {
  display: flex;
  align-items: baseline;
  list-style: none;
  margin-left: auto;
  color: var(--main-color);
}
.header-list-item {
}
.address-icon {
  fill: currentColor;
  margin-right: 10px;
}

.address-nav .header-list-item:not(:last-child) {
  margin-right: 50px;
}

.header-mail,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: var(--main-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-link:hover,
.header-link:focus,
.header-mail:hover,
.header-mail:focus,
.header-tel:hover,
.header-tel:focus,
.address-icon:hover,
.address-icon:focus,
.address-icon-two:hover,
.address-icon-two:focus {
  color: #2196f3;
  fill: currentColor;
}

/* -------- Герой --------  */
.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-bg-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-top-title {
  display: flex;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-btn {
  display: flex;
  padding: 10px 32px 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.benefits {
  padding-top: 94px;
  padding-bottom: 0;
}
.benefits-container {
  display: flex;
}
.benefits-list {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-right: auto;
  margin-left: auto;
}
.benefits-item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
}
.icon-antenna::before {
  background-image: url(../images/icons/antenna.svg);
}
.icon-clock::before {
  background-image: url(../images/icons/clock.svg);
}
.icon-diagram::before {
  background-image: url(../images/icons/diagram.svg);
}
.icon-austonaut::before {
  background-image: url(../images/icons/astronaut.svg);
}

.benefits-title {
  display: flex;
  margin-bottom: 10px;
  width: 270px;
  font-size: 14px;
  line-height: var(--typical-lh);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-color);
}
.benefits-text {
  display: flex;
  font-size: 14px;
  max-width: 270px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.about {
  padding-top: 94px;
  padding-bottom: 94px;
}
.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-title {
  display: flex;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.about-list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.thumb-work {
  position: relative;
}
.over-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  padding: 27px;
}

.team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team-title {
  display: flex;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.img-team {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-text {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-list {
  display: flex;
  gap: 30px;
  list-style: none;
}
.team-top-text {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
}
.team-bottom-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.team-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
  margin-top: 16px;
}

.team-soc-link {
  color: #afb1b8;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: currentColor;
}

.team-soc-link:hover,
.team-soc-link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* -------- Клієнти ------------- */
.clients-title {
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-list-item {
  flex-basis: calc((100% - 5 * 30px) / 6);
}

.clients-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
  fill: currentColor;
}

.clients-list-link:hover,
.clients-list-link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

/* --------Футер--------- */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: center;
  align-items: baseline;
}
.footer-nav {
  display: block;
  margin-right: 70px;
}
.footer-soc {
  display: block;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}
.footer-second-logo {
  color: #ffffff;
}
.footer-address {
  display: flex;
  gap: 9px;
  flex-direction: column;
  font-style: normal;
}
.footer-map {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
  margin-top: 20px;
}
.footer-list {
  display: flex;
  gap: 9px;
  flex-direction: column;
  list-style: none;
}
.footer-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: #2196f3;
}

.footer-soc-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 10px;
}

.footer-soc-link {
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  fill: currentColor;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* --------------Портфоліо------------------------ */
.menu-container {
  display: flex;
  justify-content: center;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.menu--top-list {
  display: flex;
  margin-bottom: 50px;
  gap: 8px;
  list-style: none;
}

.menu-item-btn {
  padding: 6px 25px 6px 25px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-color);
  background: #f5f4fa;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-item-btn:hover,
.menu-item-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ------Кард-сет-------- */

.menu {
  padding-top: 94px;
  padding-bottom: 94px;
}
.menu-under-container {
}
.menu-under-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  gap: 30px;
  list-style: none;
}
.cards {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
}
.menu-under-item {
}
.card-link {
  display: block;
  text-decoration: none;
}

.thumb-wrap {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;
}
.card-link:hover .overlay-text {
  transform: translateY(0);
}

.card-link:hover,
.card-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.menu-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-color);
}
.menu-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
/* -------Модальне вікно ------ */
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 300ms linear, visibility 300ms linear;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms linear;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}
.modal-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
